@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
  .animate-marquee-vertical {
    animation: marquee-vertical 40s linear infinite;
  }
}
